.header {
    position: relative; 
    top: -10%;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 53px 42px 0;

    &-rightPart {
        display: flex;
        gap: 12px;
    }

    &-leftPart {
        position: relative; 
        display: flex;
        gap: 20px;
        align-items: center;

        &-img {
            width: 256px;
            height: 32px;
        }

        &-status {
            position: absolute;
            top: 0; 
            left: 100%; 
            margin-left: 20px; 
            z-index: 20;
        }
    }
}